
@media screen and (min-width: 0px) and (max-width: 765px) {

	/* BODY */
	#contentOuterHeader,
	#contentFooter{
		width: 100%;
	}
	
	/* MENU */
	nav li{
		width: 50%;
	}
	nav li a{
		padding: 5px 0px;	
	}
	nav.frontpage li:first-child{
		width: 100%;
	}
	nav.frontpage li:not(:first-child){
		width: 50%;
	}
	nav.frontpage li a {
		padding: 5px 0px;
	}



	/* TITLE */
	#siteTitle{
	font-size: 1.6em;
	}
	
	/* STANDARD */
	#standardContent{
		width: 100%;
		padding-right: 0px;
	}
	#standardPanel{
		width: 100%;
		padding-top: 20px;
	}
	
	/* FRONTPAGE */
	#frontpage ul li#pageSubTitle{
		width: 100%;
	}
	#frontpage ul li#about span{
		width: 100%;
	}
	
	/* PLAN */
	#planContent li.weekdays li.weekday a span.theChefs{
		width: 100%;
	}
	#planContent li.participants li.newChefs,
	#planContent li.participants ul.attending li{
		width: 100%;
	}
	
	#planPanel{
		
	}
	
	/* SETTINGS */
	#settingsContent li span.options{
		width: 100%;
	}
	
}