/* STANDARD */
html{
	height: 100%;
}

body  {
	margin: 0px;	
	background-color:#111;
	font-size: 0.9em;
	font-weight:400;
	color:#191919;
	height: 100%;
}

body, input, select, submit, textarea{
font-family:Roboto, Lucida Sans Unicode,Calibri,Verdana,Arial,sans-serif;
}

p{
	display: inline;
}

h1, h2, h3, h4, h5, h6{
	padding-bottom:0px;
	margin-bottom:0px;
}


table, ul, li, ol, div, span, img, a, input, textarea{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

ul, li, ol{
	list-style: none outside none;
	padding: 0;
	margin: 0;
}

p.success{color: green;font-size: 0.8em;}
p.error{color: red;font-size: 0.8em;}

.hide{display: none;}


/* LINKS */
a img{
border:0;}

a:visited, a:link, a:active
{
border:0;
color:#000;
text-decoration:none;
}

a:hover
{
border:0;
color:#0186ba;
text-decoration:none;
}

a.blue, .blueinput
{
color:#0186ba;
}

a.black
{
color:#000;
}

a:hover.blue, a:hover.black
{
color:#00506f;
}

a.red
{
color:#FF8585;
}
a.red:hover
{
color:#FF3333;
}

a.green
{
color:#2eb82e;
}
a.green:hover
{
color:#248f24;
}



/* BODY */
#content{
	display: block;
	width: 100%;
	text-align: center;
	height: 100%;
	z-index: 3;
}
	#contentOuterHeader{
	display: inline-block;
	width: 800px;
	height: auto;
	min-height: 100%;
	background:#FFFFFF; 
	text-align: left;
	}
	#contentHeader{
	display: inline-block;
	width:100%;
	padding: 20px 20px 10px;
	}
	#contentMiddle{
	display: inline-block;
	width:100%;
	padding: 10px 20px;
	padding-bottom: 80px;
	}
	#contentOuterFooter{
	text-align: center;	
	}
	#contentFooter{
	display: inline-block;
	width:800px;
	padding: 20px 20px 0px;
	background:#E5E5E5;
	font-size: 0.8em;
	clear: both;
	position: relative;
	z-index: 10;
	height: 70px;
	margin-top: -70px;
	}

	
/* TITLE */
.div_title{
	display: block;
	padding-top:0px;
	padding-bottom:5px;
	border:0px;
	width:100%;
	border-spacing:0px;
	font-size: 3.0em;
	font-weight: bold;
	border-bottom: 2px solid;}
	
	
@media screen and (min-width: 1px) {
	/* MENU */
	#show-navobile{
		display:none;
	}
		
	nav {
	}
		nav > ul {
		margin: 0;
		padding-left:0px;
		border-bottom: 1px solid rgb(34, 34, 34);
		min-height: 40px;
		}
		nav li {
		display: inline-block;
		width: 25%;
		height: 100%;
		text-align: center;
		}
		nav li a {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 10px 0px;
		}
		nav li a:hover {
		background-color: #ccc;
		color: #fff;
		}
}


/****************** BODY *******************/

/* PAGE TITLE */
#standardTitle{
	text-align: left;
	padding-bottom: 10px;
}
	#standardTitle ul li#title{
		font-size: 1.5em;
		font-weight: bold;
	}
	#standardTitle ul li#subtitle{
		font-size: 0.9em;
		font-style: italic;
	}

/* PAGE CONTENT */
#standardContent{
	display: inline-block;
	width: 70%;
	padding-right: 50px;
	vertical-align: top;
	}

/* PAGE PANEL */
#standardPanel{
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
	#standardPanel ul li#title{
	font-size: 1.0em;
	font-weight: bold;
	border-bottom: 1px solid;
	}
	#standardPanel ul li.option{
	padding: 5px 0px;
	}
		#standardPanel ul li.option span{
		display: inline-block;
		width: 100%;
		padding: 2px 0px;
		}
		#standardPanel ul li.option span.optionTitle{
		text-decoration: none;
		}
		#standardPanel ul li.option span.optionInputs input{
		width: 100%;
		}
		#standardPanel ul li.option span.optionInputs input:not(:last-child){
		margin-bottom: 2px;
		}
		#standardPanel ul li.option span.optionErrmsg{
		text-align: right;
		}
		#standardPanel ul li.option span.optionSubmit{
		text-align: right;
		}

/* FRONTPAGE */
#frontpage{
	text-align: center;
}
	#frontpage ul li#pageTitle{
		font-size: 1.5em;
		font-weight: bold;
	}
	#frontpage ul li#adminContent span{
		display: inline-block;
		width: 100%;
		padding: 2px;
	}
	#frontpage ul li#adminContent span input{
		text-align: center;
	}
	#frontpage ul li#adminShift{
		padding-top: 5px;
	}
	#frontpage ul li#about{
		padding-top: 20px;
	}
	#frontpage ul li#about span{
		display: inline-block;
		width: 50%;
	}
	#frontpage ul li#about span.title{
		font-size: 1.0em;
		text-decoration: underline;
	}
	#frontpage ul li#about span.content{
		font-size: 0.8em;
	}


/* STANDARD LIST */
#standardList{
	text-align: left;
	width: 100%;
}
	#standardList li{
		padding: 5px 5px;
		background: #bbb;
		background: -moz-linear-gradient(#eee, #bbb); 
		background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #bbb),color-stop(1, #eee));	
		background: -webkit-linear-gradient(#eee, #bbb);	
		background: -o-linear-gradient(#eee, #bbb);
		background: -ms-linear-gradient(#eee, #bbb);
		background: linear-gradient(#eee, #bbb);
		/*-moz-border-radius: 50px;
		border-radius: 50px;*/
		-moz-box-shadow: 0 2px 1px #9c9c9c;
		-webkit-box-shadow: 0 2px 1px #9c9c9c;
		box-shadow: 0 2px 1px #9c9c9c;
	}
	#standardList li span{
		display: inline-block;
		padding: 1px 0px; 
	}
	#standardList li span.span2input{
		width: 80%;
	}
		#standardList li span.span2input span.name{
			width: 100%;
			font-weight: bold;
		}
		#standardList li span.span2input span.email{
			width: 100%;
			font-size: 0.9em;
		}
		#standardList li span.span2input input{
			width: 100%;
			margin: 1px 0px;
		}
	#standardList li span.options{
	width: 20%;
	text-align: right;
	vertical-align: top;
	}
	#standardList li span.options a{
		margin: 0px 2px
	}