
@media screen and (min-width: 0px) and (max-width: 765px) {

	/* BODY */
	#contentOuterHeader,
	#contentFooter{
		width: 100%;
	}

	/* TITLE */
	#siteTitle{
	font-size: 2.0em;
	}
	
	#standardContent{
		width: 100%;
		padding-right: 0px;
	}
	#standardPanel{
		width: 100%;
		padding-top: 20px;
	}
	
}