/* STANDARD */
html{
	height: 100%;
}

body  {
	margin: 0px;	
	background-color:#111;
	font-size: 0.9em;
	font-weight:400;
	color:#191919;
	height: 100%;
}

body, input, select, submit, textarea{
font-family:Roboto, Lucida Sans Unicode,Calibri,Verdana,Arial,sans-serif;
}

p{
	display: inline;
}

h1, h2, h3, h4, h5, h6{
	padding-bottom:0px;
	margin-bottom:0px;
}


table, ul, li, ol, div, span, img, a, input, textarea{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

ul, li, ol{
	list-style: none outside none;
	padding: 0;
	margin: 0;
}

p.success{color: green;font-size: 0.8em;}
p.error{color: red;font-size: 0.8em;}
p.neutral{font-size: 0.8em;}

.hide{display: none !important;}


/* LINKS */
a img{
border:0;}

a{
	border:0;
	color:#000;
	text-decoration:none;
}


a.blue{
	color:#0186ba;
}
a.blue:hover{
	color:#00506f;
}

a.red{
	color:#FF8585;
}
a.red:hover{
	color:#FF3333;
}

a.green{
	color:#2eb82e;
}
a.green:hover{
	color:#248f24;
}



/* BODY */
#content{
	display: block;
	width: 100%;
	text-align: center;
	height: 100%;
	z-index: 3;
}
	#contentOuterHeader{
	display: inline-block;
	width: 800px;
	height: auto;
	min-height: 100%;
	background:#FFFFFF; 
	text-align: left;
	}
	#contentHeader{
	display: inline-block;
	width:100%;
	padding: 20px 20px 10px;
	}
	#contentMiddle{
	display: inline-block;
	width:100%;
	padding: 10px 20px;
	padding-bottom: 80px;
	}
	#contentOuterFooter{
	text-align: center;	
	}
	#contentFooter{
	display: inline-block;
	width:800px;
	padding: 20px 20px 0px;
	background:#E5E5E5;
	font-size: 0.8em;
	clear: both;
	position: relative;
	z-index: 10;
	height: 70px;
	margin-top: -70px;
	}

	
/* TITLE */
#siteTitle{
	display: block;
	padding-top:0px;
	padding-bottom:5px;
	border:0px;
	width:100%;
	border-spacing:0px;
	font-size: 3.0em;
	font-weight: bold;
	border-bottom: 2px solid;}
	
#siteTitle a{
	color: inherit;
}
	
/* MENU */
nav {
}
	nav > ul {
	margin: 0;
	padding-left:0px;
	min-height: 40px;
	}
	nav li {
	display: inline-block;
	width: 25%;
	height: 100%;
	text-align: center;
	}
	nav li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid rgb(34, 34, 34);
	}
	
	nav.frontpage li {
		width: calc(100% / 3);
	}
	
	@media screen and (min-width: 766px) {
		nav li.current a{
		border-bottom: none;
		}
		nav li.current:not(:first-child) a{
		border-left: 1px solid rgb(34, 34, 34);
		}
		nav li.current:not(:last-child) a{
		border-right: 1px solid rgb(34, 34, 34);
		}
	}
	
	nav li a:hover {
	background-color: #ccc;
	color: #fff;
	}


/****************** BODY *******************/

/* PAGE TITLE */
#standardTitle{
	text-align: left;
	padding-bottom: 10px;
}
	#standardTitle ul li#title{
		font-size: 1.9em;
		font-weight: bold;
		padding-bottom: 5px;
        display: block;
		overflow: hidden;
		word-wrap:break-word;
	}
	#standardTitle ul li#subtitle{
		font-size: 0.9em;
		font-style: italic;
	}
	/* ADMIN */
	#standardTitle ul li#title span.span2input input{
		font-size: 1.0em;
		font-weight: bold;
		
	}


/* PAGE CONTENT */
#standardContent{
	display: inline-block;
	width: 70%;
	padding-right: 50px;
	vertical-align: top;
	}

/* PAGE PANEL */
#standardPanel{
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

/* FRONTPAGE */
#frontpage{
	text-align: center;
}
	#frontpage li#adminAllContent{
		padding-bottom: 20px;
	}
		#frontpage ul#options{
		padding-bottom: 20px;
		}
		
		#frontpage ul#options li{
		display: inline-block;
		vertical-align: top;
		width: calc(100% / 3);
		}
		#frontpage ul#options li a{
		height: 100%;
		display: block;
		width: 100%;
		padding: 10px 2px;
		border: 1px solid;
		background-color: #abcdef;
		}
		
		#frontpage ul#options li.current a{
			
		}
		#frontpage ul#options li a:hover{
			
		}
	
		#frontpage ul li#pageTitle{
			font-size: 1.5em;
			font-weight: bold;
		}
		#frontpage ul li#pageSubTitle{
			display: inline-block;
			width: 40%;
			font-size: 0.8em;
			padding-bottom: 10px;
		}
		#frontpage ul li#adminContent span{
			display: inline-block;
			width: 100%;
			padding: 2px;
		}
		#frontpage ul li#adminContent span input{
			text-align: center;
		}
		#frontpage ul li#adminShift{
			padding-bottom: 15px;
		}
		#frontpage ul li#adminShift a{
		display: block;
		}
	#frontpage ul li#about{	
	}
		#frontpage ul li#about span{
		display: inline-block;
		width: 50%;
		overflow: hidden;
		word-wrap:break-word;
		}
		#frontpage ul li#about span.title{
		font-size: 1.0em;
		text-decoration: underline;
		}
		#frontpage ul li#about span.content{
		font-size: 0.8em;
		}

	
	
/* PROJECT CONTENT */
#projectContent{
	
}	
	#projectContent li#title{
	font-size: 1.2em;
	font-weight: bold;
	}
	#projectContent li#breakfastPlan span.loadingText{
		padding: 50px 10px 0px;
	}
	#projectContent li.week{
		display: inline-block;
		width: 100%;
		font-size: 1.1em;
		border-bottom: 1px solid;
	}
	#projectContent li.week a{
		display: inline-block;
		height: 100%;
		width: 100%;
		padding: 5px 5px;
	}
	#projectContent li.week a span.weekTitle{
		display: inline-block;
		width: 100%;
	}
	#projectContent li.weekdays{
		padding-bottom: 15px;
	}
	#projectContent li.weekdays li.weekday{
		display: inline-block;
		width: 100%;
		font-size: 0.9em;
		margin-bottom: 2px;
	}
	#projectContent li.weekdays li.weekday a{
		display: inline-block;
		height: 100%;
		width: 100%;
		padding: 4px 5px;
		/*-moz-border-radius: 50px;
		border-radius: 50px;*/
		-moz-box-shadow: 0 2px 1px #9c9c9c;
		-webkit-box-shadow: 0 2px 1px #9c9c9c;
		box-shadow: 0 2px 1px #9c9c9c;
	}
	#projectContent li.weekdays li.weekday a{
		background: #bbb;
		background: -moz-linear-gradient(#eee, #bbb); 
		background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #bbb),color-stop(1, #eee));	
		background: -webkit-linear-gradient(#eee, #bbb);	
		background: -o-linear-gradient(#eee, #bbb);
		background: -ms-linear-gradient(#eee, #bbb);
		background: linear-gradient(#eee, #bbb);
	}
	#projectContent li.weekdays li.weekday.done a{ /* DONE BREAKFAST */
		background: #ddd;
		background: -moz-linear-gradient(#fff, #ddd); 
		background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ddd),color-stop(1, #fff));	
		background: -webkit-linear-gradient(#fff, #ddd);	
		background: -o-linear-gradient(#fff, #ddd);
		background: -ms-linear-gradient(#fff, #ddd);
		background: linear-gradient(#fff, #ddd);
	}

	#projectContent li.weekdays li.weekday.open a{
		background: #eee;
	}
	#projectContent li.weekdays li.weekday a:hover{
		background: #eee;
	}

	#projectContent li.weekdays li.weekday a span{
		vertical-align: top;
	}
	
	#projectContent li.weekdays li.weekday a span.weekdayTitle{
		display: inline-block;
		width: 80px;
	}
	#projectContent li.weekdays li.weekday a span.weekdayDate{
		display: inline-block;
		width: 80px;
		color: #00506f;
		font-weight: bold;
	}
	#projectContent li.weekdays li.weekday a span.weekdayToday{
		display: inline-block;
		width: 105px;
		text-align: center;
		color: #00506f;
		font-weight: bold;
	}
	#projectContent li.weekdays li.weekday a span.theChefs{
		display: inline-block;
		width: calc(100% - 265px);
		text-align: right;
		overflow: hidden;
		word-wrap:break-word;
	}
	#projectContent li.weekdays li.weekday a span.theChefs span.limbo{
		font-weight: bold;
	}
	#projectContent li.weekdays li.weekday a span.theChefs span:not(:last-child):after{
		content: " | ";
	}
	#projectContent li.weekdays li.weekday a:hover span.weekdayToday{
		color: #00506f;
	}
	#projectContent li.weekdays li.weekday a:hover span.theChefs{
		color: #000;
	}
	#projectContent li.weekdays li.weekday.done a{ /* DONE BREAKFAST */
		color: grey;
	}
	#projectContent li.weekdays li.weekday.done a span.weekdayToday{ /* DONE BREAKFAST */
		color: grey;
	}
	#projectContent li.weekdays li.weekday.done a:hover span.theChefs{ /* DONE BREAKFAST */
		color: grey;
	}
	
	#projectContent li.participants{
	width: 100%;
	padding: 5px;
	border: 1px solid;
	border-top: none;
	margin-bottom: 10px;
	}
	
	#projectContent li.participants li.newChefTitle{
	display: inline-block;
	padding: 0px 5px 5px 0px;
	width: 90px;
	font-weight: bold;
	}
	#projectContent li.participants li.newChefs{
	display: inline-block;
	padding: 0px 5px 5px 0px;
	width: calc(33% - 30px);
	}
	#projectContent li.participants li.newChefs select{
		width: 100%;
	}
	#projectContent li.participants li.newChefs select option#limbo{
		font-weight: bold;
		background: grey;
	}
	
	
	#projectContent li.participants span.participantsCount,
	#projectContent li.participants span.participantsTitle{
	display: inline-block;
	padding: 0px 5px 5px 0px;
	font-weight: bold;
	}
	#projectContent li.participants ul.attending li{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	overflow: hidden;
	word-wrap:break-word;
	}
	
/* PROJECT PANEL */
#projectPanel{
	padding-bottom: 20px;
}	
	#projectPanel li#title{
	font-size: 1.0em;
	font-weight: bold;
	border-bottom: 1px solid;
	}
	#projectPanel li#title:not(:first-child){
	padding-top: 20px;
	}
    #projectPanel li span.name{
    display: inline-block;
  	overflow: hidden;
	word-wrap:break-word; 
    vertical-align: bottom;
    }
	
/* SETTINGS CONTENT */	
#settingsContent{
	display: inline-block;
	text-align: center;
	width: 100%;
}
	#settingsContent li#title{
	font-size: 1.0em;
	font-weight: bold;
	border-bottom: 1px solid;
	}
	#settingsContent li span.options{
		display: inline-block;
		width: 50%;
	}
	#settingsContent li span.options a{
		display: inline-block;
		width: 100%;
		margin: 10px 0px 30px;
		padding: 4px 2px;
		border: 2px solid;
		text-align: center;
		
		background-color: #ebebe0;
		background: #ebebe0;
		background: -moz-linear-gradient(#eee, #ebebe0); 
		background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ebebe0),color-stop(1, #eee));	
		background: -webkit-linear-gradient(#eee, #ebebe0);	
		background: -o-linear-gradient(#eee, #ebebe0);
		background: -ms-linear-gradient(#eee, #ebebe0);
		background: linear-gradient(#eee, #ebebe0);
		/*-moz-border-radius: 50px;
		border-radius: 50px;*/		
		-moz-box-shadow: 0 2px 1px #9c9c9c;
		-webkit-box-shadow: 0 2px 1px #9c9c9c;
		box-shadow: 0 2px 1px #9c9c9c;
	}
	#settingsContent li span.options a:not(.green):hover{
		color: #0186ba;
	}
	
/* SETTINGS PANEL */
#settingsPanel li#title{
font-size: 1.0em;
font-weight: bold;
border-bottom: 1px solid;
}
#settingsPanelContent li{
}
	#settingsPanelContent li span{
	display: inline-block;
	width: 100%;
	padding: 2px 0px;
	}
	#settingsPanelContent li span.optionTitle{
	text-decoration: none;
	}
	#settingsPanelContent li ul.optionLegend span{
		display: inline-block;
		width: 50%;
	}
	#settingsPanelContent li ul.optionLegend span:last-child{
		text-align: right;
	}
	#settingsPanelContent li ul.optionInputs li{
		width: 100%;
	}
	#settingsPanelContent li ul.optionInputs li:first-child{
		border-bottom: 1px dotted;
		border-top: 1px dotted;
		margin: 2px 0px 2px 0px;
		padding: 2px 0px 2px 0px;
	}
	#settingsPanelContent li ul.optionInputs li span:first-child{
		display: inline-block;
		width: calc(100% - 30px);
	}
	#settingsPanelContent li ul.optionInputs li span:last-child{
		display: inline-block;
		width: 30px;
	}
	#settingsPanelContent li ul.optionInputs li span:last-child input{
		padding: 0px;
		width: 30px;
	}
	#settingsPanelContent li span.optionErrmsg{
	text-align: right;
	}
	#settingsPanelContent li span.optionSubmit{
	text-align: right;
	}
	

	
	
/* STANDARD AMOUNT DISPLAY FOR PRODUCTS AND PARTICIPANTS */
#showAmount{
	font-size: 0.8em;
}
	
	
/* STANDARD ADMIN PANEL */
#adminPanel li#title{
font-size: 1.0em;
font-weight: bold;
border-bottom: 1px solid;
}
#adminPanel li.option{
padding: 5px 0px;
}
	#adminPanel li.option span{
	display: inline-block;
	width: 100%;
	padding: 2px 0px;
	}
	#adminPanel li.option span.optionTitle{
	text-decoration: none;
	}
	#adminPanel li.option span.optionInputs input:not([type="checkbox"]){
	width: 100%;
	}
	#adminPanel li.option span.optionInputs input:not([type="checkbox"]):not(:last-child){
	margin-bottom: 8px;
	}
	#adminPanel li.option span.optionInputs input:not(:last-child){
	margin-bottom: 2px;
	}
	#adminPanel li.option span.optionErrmsg{
	text-align: right;
	}
	#adminPanel li.option span.optionSubmit{
	text-align: right;
	}
	
	
/* STANDARD LIST */
#standardList{
	text-align: left;
	width: 100%;
}

	#standardList li#showAmount{
		
	}
	#standardList li:not(.listLegend):not(#showAmount){
		padding: 5px 5px;
		background: #ddd;
		background: -moz-linear-gradient(#eee, #ddd); 
		background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ddd),color-stop(1, #eee));	
		background: -webkit-linear-gradient(#eee, #ddd);	
		background: -o-linear-gradient(#eee, #ddd);
		background: -ms-linear-gradient(#eee, #ddd);
		background: linear-gradient(#eee, #ddd);
		/*-moz-border-radius: 50px;
		border-radius: 50px;*/
		-moz-box-shadow: 0 2px 1px #9c9c9c;
		-webkit-box-shadow: 0 2px 1px #9c9c9c;
		box-shadow: 0 2px 1px #9c9c9c;
	}
	#standardList li span{
		display: inline-block;
		padding: 1px 0px;
	}
	/* THE LIST LEGEND */
	#standardList li.listLegend span{
		font-weight: bold;
		text-decoration: underline;
	}
	#standardList li.listLegend span.name{
		width: calc(100% - 140px);
		text-align: center;
	}
	#standardList li.listLegend span.status{
		width: 80px;
		text-align: right;
	}
	#standardList li.listLegend span.admin{
		width: 60px;
		text-align: right;
	}
	/* THE LIST CONTENT */
	#standardList li span.main{
		width: calc(100% - 90px);
	}

		#standardList li span.span2input{
			width: 100%;
		}
			#standardList li span.span2input span.name{
				width: 100%;
				font-weight: bold;
				overflow: hidden;
				word-wrap:break-word;
			}
			#standardList li span.span2input span.email{
				width: 100%;
				font-size: 0.9em;
				overflow: hidden;
				word-wrap:break-word;
			}
			#standardList li span.span2input input{
				width: 100%;
				margin: 1px 0px;
			}
		#standardList li span.elementErrmsg{
			width: 100%;
			margin: 0px;
			padding: 0px;
		}
	#standardList li span.status{
	width: 20px;
	text-align: right;
	vertical-align: top;
	}
	#standardList li span.edit{
	width: 50px;
	text-align: center;
	vertical-align: top;
	}
	#standardList li span.edit a{
		margin: 0px 2px
	}
	#standardList li span.delete{
	width: 20px;
	text-align: right;
	vertical-align: top;
	}